
#experiences ul {
  list-style-type: none;
  width: 100%;
}

* {
  font-family: Helvetica, Verdana, sans-serif !important;
}
#experiences li{
  display: flex;
}
#experiences div.left{
  width: 60%;
}
#experiences div.right{
  width:40%;
  float: right;
}

#experiences li img {
  float: left;
  margin: 0 15px 0 0;
}

#experiences li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#experiences li {
  padding: 10px;
  overflow: auto;
}

#experiences li:hover {
  background: #eee;
  cursor: pointer;
}
#experiences img{
  width: 30%;
    height: 30%;
  /* width:150px; */
}
