ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

.navbar ul.header {
    background-color: transparent;
}

body {
    background: url("cp.jpg") no-repeat fixed;
    background-size: cover;
    padding: 0;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: calc(100vh - 30px);
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}